<%- include('partials/header'); -%>

  <header>
    <div class="header-img">
      <!-- <img src="/img/flache-weltbuch-illustratin.png" alt="book illustration" width="570"> -->
      <img src="/img/flache-weltbuch-illustratin.webp" alt="book illustration" width="520" type="image/webp">

    </div>
    <div class="headings">
      <h1>eBooks Collection</h1>
      <!-- <h3>free ebook collections</h3> -->
      <div class="main-txt">
        <p>Browse the collections of books and read them online for free after login.</p>
        <p>Enjoy at your leisure.</p>
      </div>
      <a href="/books" class="btn">View eBooks</a>
    </div>
  </header>


  <%- include('partials/footer'); -%>