.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-page form {
    margin-top: 1rem;
}

.main-page form input {
    margin: 0.3rem 0;
}

.book-list {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.book {
    width: 20rem;
    height: 27rem;
    margin: 1rem 1rem 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    background: #fcfcfa;
}

.book:hover {
    border-left: 3px solid #54a892;
    -webkit-box-shadow: 1px 4px 15px -11px rgba(84, 168, 146, 0.98);
    box-shadow: 1px 4px 15px -11px rgba(84, 168, 146, 0.98);
}

.book h3 {
    text-align: center;
    padding: 0.5rem 0 0.3rem 0;
}

.book-info {
    margin-bottom: 1rem;
    flex-grow: 1;
}

.descr {
    margin-bottom: 0.5rem;
}

.info {
    color: #7c7c7c;
}

.book img {
    width: 150px;
    margin: 0.8rem auto;
    border-radius: 1px;
    -webkit-box-shadow: 8px 9px 12px -11px rgba(95, 95, 95, 0.98);
    box-shadow: 8px 9px 14px -12px rgba(95, 95, 95, 0.98);
}

.btn-read {
    align-self: center;
    margin: 0.5rem 0 0.9rem 0;
    padding: 0.5rem 1.5rem;
    text-align: center;
}

.btn-read:hover {
    background: #54a892;
}